body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    color: #333;
}
#topicos {
    width: 900px;
    margin: 0 auto;
}
h2 {
    padding: 0;
    margin: 0 0 .5em 0;
    font-size: 1.3em;
}

#escolhidos, #padrao {
    float: left;
    width: 400px;
    height: 400px;
    padding: 5px 10px;
    margin-right: 10px;
    background: #eee;
    text-align: center;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 0px 12px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    border: 1px solid #cacaca;
}
.topico {
    width: 110px;
    padding: 3px 5px;
    display: block;
    margin: 0 auto 3px;
    text-align: center;
    border: 1px solid #aaa;
    background: #ddd;	
    cursor: move;
    border-radius: 5px;
}

.clear {
    clear: both;
}