
<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="Andressa Job" content="" />

        <title>Estrutura de Documentos</title>

        <link href="css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        <link href="css/sb-admin.css" rel="stylesheet" />
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/draganddrop.css"/>
        <script src="js/draganddrop.js"></script>
        <link rel="stylesheet" href="css/modal.css"/>


    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">IFTCC</a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Revisor</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Revisor</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="http://placehold.it/50x50" alt="" />
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>Revisor</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Revisor<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensagens</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="dashboard.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#tcc"><i class="fa fa-fw fa-edit"></i> TCC<i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="tcc" class="collapse">
                                <li>
                                    <a href="deftema.html"> Tema</a>
                                </li>
                                <li>
                                    <a href="#"> Proposta</a>
                                </li>
                                <li>
                                    <a href="#"> Avaliação</a>
                                </li>
                                <li>
                                    <a href="acompanhamento.html"> Acompanhamento</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#defbanca"><i class="fa fa-fw fa-wrench"></i> Administração<i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="defbanca" class="collapse">
                                <li>
                                    <a href="defbanca.html"> Banca</a>
                                </li>
                                <li>
                                    <a href="#"> Cronograma</a>
                                </li>
                            </ul>
                        </li>                       
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#documentos"><i class="fa fa-fw fa-file-text-o"></i> Documentos<i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="documentos" class="collapse">
                                <li>
                                    <a href="estruturarDocumentos.html"> Estrutura</a>
                                </li>
                            </ul>
                        </li>      
                        <li>
                            <a href="blankpage.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                        </li>  
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">
                <h1 class="page-header">
                    Template
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Cadastro Template
                    </li>
                </ol>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>Nome do template</strong>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="col-lg-12"><label>Nome</label></div>
                                    <div class="col-lg-10">
                                        <div class="form-group">											 
                                            <input class="form-control" placeholder="Nome do template" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <strong>Tópicos do Template </strong>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <label>Arraste os tópicos escolhidos</label>
                                    <section id="topicos">
                                        <div id="padrao" ondrop="dropTopic(this, event)" ondragenter="return false" ondragover="return false">
                                            <h2>Tópicos padrões</h2>
                                            <a draggable="true" class="topico" id="titulo" ondragstart="dragTopic(this, event)">Titulo</a>
                                            <a draggable="true" class="topico" id="problema" ondragstart="dragTopic(this, event)">Problema</a>
                                            <a draggable="true" class="topico" id="objetivos" ondragstart="dragTopic(this, event)">Objetivos</a>
                                            <a draggable="true" class="topico" id="introducao" ondragstart="dragTopic(this, event)">Introdução</a>
                                            <a draggable="true" class="topico" id="abstract" ondragstart="dragTopic(this, event)">Abstract</a>
                                            <a draggable="true" class="topico" id="resumo" ondragstart="dragTopic(this, event)">Resumo</a>
                                            <a draggable="true" class="topico" id="justificativa" ondragstart="dragTopic(this, event)">Justificativa</a>
                                            <a draggable="true" class="topico" id="fundamentacao" ondragstart="dragTopic(this, event)">Fundamentação Teórica</a>
                                            <a draggable="true" class="topico" id="metodologia" ondragstart="dragTopic(this, event)">Metodologia</a>
                                            <a draggable="true" class="topico" id="referencias" ondragstart="dragTopic(this, event)">Referências</a>
                                        </div>	
                                        <div id="escolhidos" ondrop="dropTopic(this, event)" ondragenter="return false" ondragover="return false">
                                            <h2>Tópicos escolhidos para o template</h2>
                                        </div>
                                    </section>
                                </form>

                                <form role="form">
                                    <div class="col-lg-12"><label for="novoTopico">Adicione um tópico</label></div>
                                    <div class="col-lg-10">
                                        <div class="form-group">											 
                                            <input class="form-control" type="text" placeholder="Insira o nome do tópico" id="novoTopico"/>											
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <p>							
                                            <input type="submit" class="btn btn-success" value="Adicionar Tópico"/>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <p class="text-right">
                                    <a class="btn btn-danger" href="estruturarDocumentos.html">Cancelar</a>
                                    <a class="btn btn-success" href="#openModal">Salvar Template</a>									
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h2>Confirmação</h2>
                        <p>Você deseja salvar este template?</p>
                        <p class="text-center">
                            <a href="#modalConfirma" class="btn btn-success">Sim</a>
                            <a href="#close" class="btn btn-danger">Não</a>
                        </p>
                    </div>
                </div>
                <div id="modalConfirma" class="modalDialog">
                    <div>
                        <a href="#close" title="Fechar" class="close">X</a>
                        <h4>Template salvo com sucesso.</h4>
                        <p class="text-center">
                            <a href="#close" class="btn btn-primary">Ok</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#wrapper -->  
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
